@using PortfolioWebsite.Shared

<div class="grid grid-cols-1 lg:grid-cols-3 lg:mt-10 mt-20 xl:mx-64 lg:mx-10 mx-20">
    @foreach (CardData cardData in State.CardDataList)
    {
        <div class="m-2">
            <Card CardData="@cardData" />
        </div>
    }
</div>

@code{
    [CascadingParameter] protected PageState State { get; set; }
}