@using PortfolioWebsite.Shared

<div class="grid grid-cols-1 lg:grid-cols-3 mt-10 xl:mx-64 mx-10">
    @foreach (CardData cardData in State.CardDataList)
    {
        <div class="lg:m-2 m-4">
            <Card CardData="@cardData" />
        </div>
    }
</div>

@code{
    [CascadingParameter] protected PageState State { get; set; }
}