<div class="bg-gray-900">
    <h1 class="text-lg text-center mt-5" style="color: slategray;">Hvis denne side har vækket interesse, kan jeg kontaktes følgende steder</h1>
    <div class="w-screen flex justify-center">
        <div class="m-10">
            <a class="text-center" href="mailto:Tobbe3108@gmail.com" style="color: slategray;"><i class="fas fa-envelope h-6 w-6"></i></a>
        </div>

        <div class="m-10">
            <a class="text-center" href="tel:61708373" style="color: slategray;"><i class="fas fa-phone h-6 w-6"></i></a>
        </div>

        <div class="m-10">
            <a class="text-center" href="https://www.linkedin.com/in/tobias-lauritzen-57b7221a4" style="color: slategray;"><i class="fab fa-linkedin-in h-6 w-6"></i></a>
        </div>

        <div class="m-10">
            <a class="text-center" href="https://www.github.com/Tobbe3108" style="color: slategray;"><i class="fab fa-github h-6 w-6"></i></a>
        </div>

        <div class="m-10">
            <a class="text-center" href="https://www.facebook.com/tobias.g.lauritzen" style="color: slategray;"><i class="fab fa-facebook-f h-6 w-6"></i></a>
        </div>
    </div>
</div>