<h1 class="lg:text-lg text-4xl text-center lg:mt-5 mt-10 text-gray-300">Kom i kontakt med mig her</h1>
<div class="w-screen flex justify-center">
    <div class="m-10">
        <a class="text-center text-gray-300" href="mailto:Tobbe3108@gmail.com"><i class="fas fa-envelope lg:h-6 lg:w-6 h-24 w-24"></i></a>
    </div>

    <div class="m-10">
        <a class="text-center text-gray-300" href="tel:61708373"><i class="fas fa-phone lg:h-6 lg:w-6 h-24 w-24"></i></a>
    </div>

    <div class="m-10">
        <a class="text-center text-gray-300" href="https://www.linkedin.com/in/tobias-lauritzen-57b7221a4"><i class="fab fa-linkedin-in lg:h-6 lg:w-6 h-24 w-24"></i></a>
    </div>

    <div class="m-10">
        <a class="text-center text-gray-300" href="https://www.github.com/Tobbe3108"><i class="fab fa-github lg:h-6 lg:w-6 h-24 w-24"></i></a>
    </div>

    <div class="lg:m-10 m-20">
        <a class="text-center text-gray-300" href="https://www.facebook.com/tobias.g.lauritzen"><i class="fab fa-facebook-f lg:h-6 lg:w-6 h-24 w-24"></i></a>
    </div>
</div>