<h1 class="lg:text-lg text-4xl text-center mt-5 text-gray-300">Kom i kontakt med mig her</h1>
<div class="w-screen flex justify-center">
    <div class="m-10">
        <a class="text-center text-gray-300" href="mailto:Tobbe3108@gmail.com"><i class="fas fa-envelope h-6 w-6"></i></a>
    </div>

    <div class="m-10">
        <a class="text-center text-gray-300" href="tel:61708373"><i class="fas fa-phone h-6 w-6"></i></a>
    </div>

    <div class="m-10">
        <a class="text-center text-gray-300" href="https://www.linkedin.com/in/tobias-lauritzen-57b7221a4"><i class="fab fa-linkedin-in h-6 w-6"></i></a>
    </div>

    <div class="m-10">
        <a class="text-center text-gray-300" href="https://www.github.com/Tobbe3108"><i class="fab fa-github h-6 w-6"></i></a>
    </div>

    <div class="m-10">
        <a class="text-center text-gray-300" href="https://www.facebook.com/tobias.g.lauritzen"><i class="fab fa-facebook-f h-6 w-6"></i></a>
    </div>
</div>