<div class="flex justify-center">
    <img class="h-64 w-64 rounded-full mt-10" src="img/me.png">
</div>
<div>
    <h1 class="text-center text-12xl lg:text-6xl text-gray-300 font-bold">Hej jeg hedder Tobias Lauritzen</h1>
</div>
<div>
    <p class="text-center text-6xl lg:text-2xl text-gray-300">Jeg er datamatiker-studerende på UCL i Vejle</p>
</div>
<div>
    <p class="text-center text-4xl lg:text-base mt-10 xl:mx-64 mx-10 text-gray-300">
        Med denne side vil jeg vise dig lidt om hvad jeg har udrettet på mit studie og i min fritid. Jeg brænder for mit fag samt for at eksperimentere med nye teknologier og frameworks. Det har resulteret i, at jeg har stiftet bekendtskab med en lang række emner og teknologier, som du kan læse mere om herunder. I min fritid bruger jeg også tid på sociale arrangementer med venner og familie, løb og arbejde som lektiehjælper samt frivilligt arbejde. I mig vil du få en ansvarsbevidst, problemløsende og detaljeorienteret praktikant der brænder for sit fag.
    </p>
</div>