<div class="flex justify-center">
    <img class="h-64 w-64 rounded-full mt-10" src="img/me.png">
</div>
<div>
    <h1 class="text-center text-6xl text-gray-300 font-bold">Hej, jeg er Tobias</h1>
</div>
<div>
    <p class="text-center text-2xl text-gray-300">Jeg er Datamatiker studerende på UCL i Vejle</p>
</div>
<div>
    <p class="text-center text-base mt-10 xl:mx-64 mx-10 text-gray-300">
        Når jeg ikke er i skole, på arbejde som lektiehjælper eller til andre former for frivilligt arbejde kan jeg godt lide at bruge min fritid sammen med min kæreste som jeg bor sammen med i Vejle Centrum. Ud over at bruge tid sammen hende kan jeg rigtig godt lide at eksperimentere med nye teknologier og frameworks. Det er også resulteret i at jeg efter hånden har snust til og stiftet bekendtskab men en lang række emner og teknologier.
    </p>
</div>