@page "/"
@inject NavigationManager NavigationManager

@if (FirstLoad)
{
    NavigationManager.NavigateTo("/Terminal");
}
else
{
    <p>Not any more</p>
}

@code {
    public bool FirstLoad { get; set; } = true;
}